.mood-actions.active .spinner{
  opacity: 0;
  transform: scale(0);
}
.spinner {
  opacity: 1;
  transform: scale(0.6);
  pointer-events: none;
  background: url(../svg/zigzag.svg) repeat-x 0 50%;
  background-size: cover;
  align-self: center;
  display: inline-block;
  position: relative;
  width: 101px;
  height: 60px;
  z-index: 11;
  transition: all 0.3s ease-in-out;
  animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  span {
    margin-top: 50px;
    display: block;
    font-size: 18px;
  }
}
@keyframes spinner {
  0% {
    background-position: 0 50%;
  }
  100% {
    background-position: 160px 50%;
  }
}
