@media only screen and (min-width: 0px) and (max-width: 320px){
  h1.time{
    font-size:78px;
  }
  .outer .middle figure.inner{
<<<<<<< HEAD:css/responsive.scss
    margin: -50px auto 0 auto;
=======
    margin: -80px auto 0 auto;
>>>>>>> origin/master:css/responsive.scss
  }
  figure.badge{
    margin:auto;
    max-width:60px;
  }
  .comingSoon br{
    display:none;
  }
}
@media only screen and (min-width: 0px) and (max-width: 768px){
  html body main .tinyNav span{
    &:before,&:after{
      display:none !important;
    }
  }
  html body main .code .codeDetails ul .asTable, html body main .design .designDetails ul .asTable{
    max-width:90%;
  }
  .time{
    font-size:87px;
  }
  .comingSoon{
    font-size:23px;
    max-width: 400px;
<<<<<<< HEAD:css/responsive.scss
    padding: 0 25px;
  }
  .outer .middle .inner {
    margin: -50px auto 0 auto;
=======
  }
  .outer .middle .inner {
    margin: -130px auto 0 auto;
>>>>>>> origin/master:css/responsive.scss
  }
  //activated panels
  html body main .code.activated,html body main .design.activated{
    .codeDetails ul .asTable,.designDetails ul .asTable{
      max-width:90% !important;
    }
    .codeDetails .tinyNav{
      display: block;
      position: absolute;
      width: 100%;
      height: 50px;
      top: 13px;
      text-align: left;
      margin:0;
      left:0;
      right:0;
      .tinyButton{
        width: 26px;
        height: 26px;
        display:inline-block;
        &:first-child{
          box-shadow:inset 0px 0px 0px 2px #111;
        }
      }
    }
    ul .asTable h3{
      font-size:10em;
    }
  }
  html body main .code:not(.activated),html body main .design:not(.activated) {
    .codeDetails .tinyNav{
      display:none;
    }
    article,.codeDetails,.designDetails{
      position:relative;
      float:none;
      width:100%;
    };
    article{
      padding:0px;
      background-attachment:scroll;;
    }
    .codeDetails:after,.designDetails:after{
      content: '';
      width: 0;
      height: 0;
      border-top: 40px solid transparent;
      border-bottom: 40px solid #f7f7f7;
      border-left: 40px solid transparent;
      border-right: 40px solid transparent;
      display: block;
      position: absolute;
      left: 50%;
      top: -38px;
      margin-left: -40px;
    };
    .code-shield,.design-shield{
      max-width: 60%;
      margin: 50px auto;
      max-height:188px;
    }
  };
  .design.activated .codeDetails ul li.asTable:not(.innerNav) p, .code.activated .codeDetails ul li.asTable:not(.innerNav) p {
    font-size: 16px;
    padding: 20px;
    line-height: 20px;
    text-align: left;
    border-left: 4px solid;
    opacity: 1;
    //position: relative;
  }
  .design.activated .codeDetails ul li.asTable:not(.innerNav) span.bar, .code.activated .codeDetails ul li.asTable:not(.innerNav) span.bar {
    font-size: 16px;
    padding: 20px;
    line-height: 20px;
    text-align: left;
    opacity: 1;
    //position: relative;
  }
  .design.activated .codeDetails ul li.asTable:not(.innerNav) p.withBg span.val, .code.activated .codeDetails ul li.asTable:not(.innerNav) p.withBg span.val {
    font-size: 33px;
    position: absolute;
    font-weight: 200;
    right: 0;
    bottom: -10px;
  }
  html body main #instafeed .instaImagesBg a:not(.mailtoMe) img{
    width: calc(100% / 3 );
    color:green;
  }
};
