$mainColor: #2b2b2b;
@media only screen and (min-height: 0px) and (max-height: 600px){
  .outer .middle figure.inner{
    margin: -20% auto 0 auto;
  }
}
@media only screen and (min-width: 0px) and (max-width: 321px){
  h1.hello{
    font-size:78px;
  }
  figure.badge{
    margin:auto;
    max-width:60px;
  }
  body .comingSoon{
    font-size: 20px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 768px){
  html body main .tinyNav span{
    &:before,&:after{
      display:none !important;
    }
  }
  .hello{
    font-size:87px;
  }
  .comingSoon{
    font-size:23px;
    max-width: 400px;
    padding: 0 25px;
  }
  .outer .middle .inner {
    margin: -50px auto 0 auto;
  }
};
