@import 'glitch';
@import 'responsive';

$mainColor: #2b2b2b;
$arrowSize: 40px;
$secondColor: #f7f7f7;
$initialGradientOne: rgb(99, 63, 105);
$initialGradientTwo: rgb(190, 62, 111);
$min_height: 600px;
$max_height: 800px;
:root {
  --gradient-one: #{$initialGradientOne};
  --gradient-two: #{$initialGradientTwo};
}

/* apply a natural box layout model to all elements, but allowing components to change */

html {
  box-sizing: border-box;
  color: $mainColor;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%;
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, 'lucida grande', sans-serif;
}

html *, *:before, *:after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: inherit;
  margin: 0;
  padding: 0;
  background: #eee;
}

main {
  height: 100vh;
  max-height: $max_height;
  min-height: $min_height;
  margin: auto;
}

.outer {
  min-height: $max_height;
}

figure {
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  pointer-events: none;
  margin:0;
}

a {
  text-decoration: none;
}

.indent {
  text-indent: -10000px;
  position: absolute;
  pointer-events: none;
}
nav a {
  display: inline-block;
}
svg:not(#panel) {
  display: block;
  width: 100%;
  height: 100%;
  fill: $mainColor;
}

.glitch, h2, h4, h5 {
  font-family: inherit
}

.flex-grid-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}
.flex-grid-item {
  align-self: stretch;
  flex: 1 100%;
  z-index: 1;
  position: relative;
}

// Hero related styling
.hello {
  display: inline-block;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 100px;
  letter-spacing: 2px;
  font-weight: 900;
  margin: 0;
}

.comingSoon {
  color: $mainColor;
  font-size: 25px;
  font-weight: 500;
  padding: 0 0 25px;
  max-width: 800px;
  margin: auto;
  line-height: 32px;
  a {
    color: $mainColor;
  }
  .glitch {
    display: inline-block;
    white-space: nowrap;
    @include textGlitch("example-one", 25, $mainColor, rgba(255, 255, 255, 0.1), blue, #ff0078, 450, 115);
  }
}
.behance {
  margin: 0 10px;
}
.github, .behance, .twitter {
  display: inline-block;
  width: 40px;
  height: 40px;
  svg {
    height: 100%;
    display: block;
  }
}

@keyframes heartBeat {
  0% {
    -moz-transform: rotate(-45deg) scale(0.5);
    -ms-transform: rotate(-45deg) scale(0.5);
    -webkit-transform: rotate(-45deg) scale(0.5);
    transform: rotate(-45deg) scale(0.5);

  }
  100% {
    -moz-transform: rotate(-45deg) scale(0.6);
    -ms-transform: rotate(-45deg) scale(0.6);
    -webkit-transform: rotate(-45deg) scale(0.6);
    transform: rotate(-45deg) scale(0.6);
  }
}

@keyframes shake {
  0% {
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  25% {
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  50% {
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  75% {
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  100% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.was {
  //@include transform-origin(center);
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
}

.inner.active .was {
  animation-delay: 0.3s;
  animation-duration: 0.6s;
  animation-name: shake;
  animation-iteration-count: 1;
  animation-direction: alternate;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.heart {
  background-color: $mainColor;
  display: block;
  height: 26px;
  margin: -13px 0 0 -13px;
  position: absolute;
  -moz-transform: rotate(-45deg) scale(0.6);
  -ms-transform: rotate(-45deg) scale(0.6);
  -webkit-transform: rotate(-45deg) scale(0.6);
  transform: rotate(-45deg) scale(0.6);
  width: 26px;
  left: 50%;
  top: 50%;
  cursor: pointer;
  animation-duration: 0.7s;
  animation-name: heartBeat;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  transition: all 0.2s ease-in-out;
  &:not(.active) {
    pointer-events: none;
    opacity: 0.3;
    filter: blur(10px);
  }
  &.active {
    pointer-events: auto;
  }
  &:before,
  &:after {
    content: "";
    background-color: $mainColor;
    border-radius: 50%;
    height: 26px;
    position: absolute;
    width: 26px;
  }
  &:before {
    top: -13px;
    left: 0;
  }
  &:after {
    left: 13px;
    top: 0;
  }
}

.css-variables {
  .outer {
    background-image: linear-gradient(45deg, var(--gradient-one), var(--gradient-two));
  }
}

.outer {
  height: 100vh;
  width: 100vw;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(45deg, $initialGradientOne, $initialGradientTwo);
  display: flex;
  &.active:before {
    opacity: 0
  }
  &:before {
    content: '';
    display: block;
    width: inherit;
    height: 120%;
    min-height: inherit;
    position: fixed;
    background: #eee;
    opacity: 1;
    transition: opacity 0.1s linear;
    pointer-events: none;
    z-index: 10;
  }
}

.full-height {
  height: 100vh;
}
.full-fill {
  width: 100%;
  height: 120%;
  position: fixed;
  top: 0;
  left: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-column-gap: 1px;
  grid-row-gap: 2px;
  z-index: 0;
  pointer-events: none;
}

.tooltip.github-hovered {
  .st0 {
    d: path("M300,83.4 161.8,83.4 150,83.4 137.5,83.4 0,83.4 0,12.6 83.5,12.6 96,0.6 107.8,12.6 300,12.6 z")
  }
  .st10 {
    d: path("M0,12.6 83.5,12.6 96,0.6 107.8,12.6 300,12.6 ")
  }
  .st1 {
    d: path("M0,83.4 137.5,83.4 150,83.4 161.8,83.4 300,83.4 ")
  }
}

.tooltip.behance-hovered {
  .st0 {
    d: path("M300,83.4 161.8,83.4 150,83.4 137.5,83.4 0,83.4 0,12.6 137.5,12.6 150,0.6 161.8,12.6 300,12.6 z")
  }
  .st10 {
    d: path("M0,12.6 137.5,12.6 150,0.6 161.8,12.6 300,12.6 ")
  }
  .st1 {
    d: path("M0,83.4 137.5,83.4 150,83.4 161.8,83.4 300,83.4 ")
  }
}
.tooltip.twitter-hovered {
  .st0 {
    d: path("M300,83.4 161.8,83.4 150,83.4 137.5,83.4 0,83.4 0,12.6 192.5,12.6 205,0.6 216.8,12.6 300,12.6 z")
  }
  .st10 {
    d: path("M0,12.6 192.5,12.6 205,0.6 216.8,12.6 300,12.6 ")
  }
  .st1 {
    d: path("M0,83.4 137.5,83.4 150,83.4 161.8,83.4 300,83.4 ")
  }
}
.outer.flex-grid-container.full-height.no-svg-morphing {
  height: 100vh;
  min-height: auto;
  .tooltip-container {
    display: none
  }
}
.tooltip-container {
  max-width: 300px;
  width: 300px;
  height: 96px;
  margin: auto;
  .tooltip-wrapper {
    height: 100%;
    display: flex;
  }
  .tooltip {
    align-self: flex-end;
    width: 100%;
    height: 96px;
    display: flex;
    p {
      align-self: center;
      margin: 0;
      padding: 0;
      line-height: 0;
      text-align: center;
      width: 100%;
      z-index:1;
    }
    svg {
      opacity: 0.5;
      position: absolute;
    }
  }
  .st0,.st10,.st1 {
    transition: d 0.5s;
  }
}

.item {
  background: rgba(255, 255, 255, 0.1)
}

