@import 'glitch';
@import 'responsive';

$mainColor: #2b2b2b;
$arrowSize: 40px;
$secondColor: #f7f7f7;

:root{
    --gradient-one: #{rgb(99, 63, 105)};
    --gradient-two: #{rgb(190, 62, 111)};
  }

/* apply a natural box layout model to all elements, but allowing components to change */
html{
  box-sizing: border-box;
  color:$mainColor;
  text-align:center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html *, *:before, *:after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}
body {
  font-size: 100%;
  margin:0;
  padding:0;
  background:#eee;
}
a{
  text-decoration: none;
}
svg{
  display: block;
  width: 100%;
  height:100%;
  fill:$mainColor;
}
.glitch,h2,h4,h5{
  font-family: 'Lato','helvetica neue', arial, helvetica, 'lucida grande', sans-serif;
}
// .snap{
//   float: left;
//   width: 100vw;
// }
// .scroller{
//   overflow-x: hidden;
//   position: absolute;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   overflow: auto;
//   -webkit-scroll-snap-points-y: repeat(100%);
//       -ms-scroll-snap-points-y: repeat(100%);
//           scroll-snap-points-y: repeat(100%);
//   -webkit-scroll-snap-type: mandatory;
//       -ms-scroll-snap-type: mandatory;
//           scroll-snap-type: mandatory;
//   -webkit-scroll-snap-destination: 100% 0%;
//       -ms-scroll-snap-destination: 100% 0%;
//           scroll-snap-destination: 100% 0%;
// }
// Hero related styling
.hello{
  display: inline-block;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 100px;
  letter-spacing: 2px;
  font-weight: 900;
  margin: 0;
}
.comingSoon{
  color:$mainColor;
  font-size: 25px;
  font-weight: 500;
  padding: 0 0 25px;
  max-width: 800px;
  margin: auto;
  line-height: 32px;
  a{
    color:$mainColor;
  }
  .glitch{
    display:inline-block;
    white-space:nowrap;
    @include textGlitch("example-one", 25, $mainColor, rgba(255,255,255,0.1), blue, #ff0078, 450, 115);
  }
}
.behance,.github{
  display:inline-block;
  margin: 0 0 0 5px;
  width:40px;
  height:40px;
  svg{
    height:100%;
    display:block;
  }
}
@keyframes heartBeat {
  0%{
    //@include transform(rotate(-45deg) scale(0.5));
    -moz-transform: rotate(-45deg) scale(0.5);
    -ms-transform: rotate(-45deg) scale(0.5);
    -webkit-transform: rotate(-45deg) scale(0.5);
    transform: rotate(-45deg) scale(0.5);

  }
  100% {
    //@include transform(rotate(-45deg) scale(0.6));
    -moz-transform: rotate(-45deg) scale(0.6);
    -ms-transform: rotate(-45deg) scale(0.6);
    -webkit-transform: rotate(-45deg) scale(0.6);
    transform: rotate(-45deg) scale(0.6);
  }
}
@keyframes shake {
  0%{
    //@include transform(rotate(15deg));
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  25%{
    //@include transform(rotate(-15deg));
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  50%{
    //@include transform(rotate(10deg));
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  75%{
    //@include transform(rotate(-10deg));
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  100% {
    //@include transform(rotate(0deg));
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
#was{
  //@include transform-origin(center);
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
}
.inner.active #was{
  animation-delay:0.3s;
  animation-duration: 0.6s;
  animation-name: shake;
  animation-iteration-count: 1;
  animation-direction: alternate;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

.heart {
  background-color: $mainColor;
  display: block;
  height: 26px;
  margin: 0 10px;
  position: absolute;
  //@include transform(rotate(-45deg) scale(0.6));
  -moz-transform: rotate(-45deg) scale(0.6);
  -ms-transform: rotate(-45deg) scale(0.6);
  -webkit-transform: rotate(-45deg) scale(0.6);
  transform: rotate(-45deg) scale(0.6);
  width: 26px;
  left: 50%;
  margin-left: -13px;
  bottom: 30px;
  opacity:0.5;
  cursor:pointer;
  animation-duration: 0.7s;
  animation-name: heartBeat;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  &:not(.active){
    pointer-events: none;
    opacity:0.3;
  }
  &.active{
    pointer-events: auto;
  }
  &:before,
  &:after {
    content: "";
    background-color: $mainColor;
    border-radius: 50%;
    height: 26px;
    position: absolute;
    width: 26px;
  }
  &:before {
    top: -13px;
    left: 0;
  }
  &:after {
    left: 13px;
    top: 0;
  }
}
.outer{
	display:table;
	height:100vh;
	width:100vw;
	right:0;
	bottom:0;
  z-index:-1;
  background-image: linear-gradient(45deg, var(--gradient-one) , var(--gradient-two) );
  &.active:before{
    opacity:0
  }
  &:before{
    content:'';
    display:block;
    width:inherit;
    height:120%;
    min-height:inherit;
    position:fixed;
    background:#eee;
    opacity:1;
    transition: opacity 0.1s linear;
    pointer-events: none;
    z-index:10;
  }
	.middle{
    transform: translateY(-10%);
		display:table-cell;
		vertical-align:middle;
    position:relative;
		.inner{
			position:relative;
			margin: 0 auto 0 auto;
			width:80%;
			max-width:400px
		}
    #logo{
      width: 50%;
      height: auto;
      * {
        stroke-width:2;
      }
    }
	}
}
.full-fill {
  width: 100%;
  height: 120%;
  position: fixed;
  top: 0;
  left: 0;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-column-gap: 1px;
  grid-row-gap: 2px;
}
.item {
  background: rgba(255,255,255, 0.1)
}
