/*
  (TEXT) PARAMS
  =================
  1. Namespace
  2. Intensity
  3. Text color
  4. Background color (flat)
  5. Highlight #1 color
  6. Highlight #2 color
  7. Width (px)
  8. Height (px)
*/
@media only screen and (min-width: 0px) and (max-width: 360px) {
  .tooltip {
    transform: scale(0.8);
    align-self: flex-start; }

  .translate--y {
    transform: translateY(-10%); }

  h1.hello {
    font-size: 78px; }

  body .comingSoon {
    font-size: 20px; } }
@media only screen and (min-width: 361px) and (max-width: 768px) {
  .translate--y {
    transform: translateY(-10%); }

  .hello {
    font-size: 87px; }

  body .comingSoon {
    font-size: 23px;
    max-width: 400px;
    padding: 0 25px 25px 25px; } }
@media only screen and (orientation: landscape) {
  .outer {
    min-height: 600px; } }
@media only screen and (max-height: 630px) {
  .outer.full-height {
    min-height: 630px;
    height: 105vh; } }
.mood-actions.active .spinner {
  opacity: 0;
  transform: scale(0); }

.spinner {
  opacity: 1;
  transform: scale(0.6);
  pointer-events: none;
  background: url(../svg/zigzag.svg);
  background-size: 150%;
  background-repeat: repeat-x;
  align-self: center;
  display: inline-block;
  position: relative;
  width: 101px;
  height: 60px;
  z-index: 11;
  transition: all 0.3s ease-in-out; }
  .spinner span {
    margin-top: 50px;
    display: block;
    font-size: 18px; }

.theme-dark .spinner {
  background-position: 0 10px;
  animation: spinner-dark 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite; }

.theme-bright .spinner {
  background-position: 0 -35px;
  animation: spinner-bright 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite; }

@keyframes spinner-dark {
  0% {
    background-position: 0 12px; }
  100% {
    background-position: 150px 12px; } }
@keyframes spinner-bright {
  0% {
    background-position: 0 -35px; }
  100% {
    background-position: 150px -35px; } }
/*! * * * * * * * * * * * * * * * * * * * *\
  CSShake :: shake-little
  v1.5.0
  CSS classes to move your DOM
  (c) 2015 @elrumordelaluz
  http://elrumordelaluz.github.io/csshake/
  Licensed under MIT
\* * * * * * * * * * * * * * * * * * * * */
.shake-little {
  transform-origin: center center; }

.shake-freeze,
.shake-constant.shake-constant--hover:hover,
.shake-trigger:hover .shake-constant.shake-constant--hover {
  animation-play-state: paused; }

.shake-freeze:hover,
.shake-trigger:hover .shake-freeze, .shake-little:hover,
.shake-trigger:hover .shake-little {
  animation-play-state: running; }

@keyframes shake-little {
  2% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  4% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  6% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  8% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  10% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  12% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  14% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  16% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  18% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  20% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  22% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  24% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  26% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  28% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  30% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  32% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  34% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  36% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  38% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  40% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  42% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  44% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  46% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  48% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  50% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  52% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  54% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  56% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  58% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  60% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  62% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  64% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  66% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  68% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  70% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  72% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  74% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  76% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  78% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  80% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  82% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  84% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  86% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  88% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  90% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  92% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  94% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  96% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  98% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }
.shake-little:hover,
.shake-trigger:hover .shake-little, .shake-little.shake-freeze, .shake-little.shake-constant {
  animation-name: shake-little;
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; }

:root {
  --gradient-one: #633f69;
  --gradient-two: #be3e6f; }

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  color: #2b2b2b;
  color: var(--safe-color);
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%;
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, 'lucida grande', sans-serif; }

html *, *:before, *:after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased; }

body {
  font-size: inherit;
  margin: 0;
  padding: 0;
  background: #eee; }

main {
  height: 100vh;
  max-height: 800px;
  min-height: 600px;
  margin: auto; }

canvas {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0.6; }

figure {
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  pointer-events: none;
  margin: 0;
  position: relative; }

a {
  text-decoration: none; }

.indent {
  text-indent: -10000px;
  position: absolute;
  pointer-events: none; }

nav a {
  display: inline-block; }

svg:not(#panel) {
  display: block;
  width: 100%;
  height: 100%;
  fill: #2b2b2b;
  fill: var(--safe-color); }

.glitch, h2, h4, h5 {
  font-family: inherit; }

.flex-grid-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch; }

.flex {
  display: flex;
  justify-content: center; }

.flex-grid-item {
  align-self: stretch;
  flex: 1 100%;
  z-index: 1;
  position: relative; }

.hello {
  display: inline-block;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 100px;
  letter-spacing: 2px;
  font-weight: 900;
  margin: 0; }

.comingSoon {
  font-size: 25px;
  font-weight: 500;
  padding: 0 0 25px;
  max-width: 800px;
  margin: auto;
  line-height: 32px; }
  .comingSoon a {
    color: var(--safe-color); }

.glitch {
  display: inline-block;
  white-space: nowrap;
  color: var(--safe-color);
  position: relative; }
@keyframes example-one-anim-1 {
  0% {
    clip: rect(103px, 450px, 15px, 0); }
  4% {
    clip: rect(33px, 450px, 99px, 0); }
  8% {
    clip: rect(85px, 450px, 34px, 0); }
  12% {
    clip: rect(82px, 450px, 49px, 0); }
  16% {
    clip: rect(78px, 450px, 89px, 0); }
  20% {
    clip: rect(103px, 450px, 74px, 0); }
  24% {
    clip: rect(29px, 450px, 35px, 0); }
  28% {
    clip: rect(48px, 450px, 54px, 0); }
  32% {
    clip: rect(107px, 450px, 79px, 0); }
  36% {
    clip: rect(44px, 450px, 36px, 0); }
  40% {
    clip: rect(87px, 450px, 73px, 0); }
  44% {
    clip: rect(64px, 450px, 40px, 0); }
  48% {
    clip: rect(85px, 450px, 52px, 0); }
  52% {
    clip: rect(56px, 450px, 115px, 0); }
  56% {
    clip: rect(21px, 450px, 56px, 0); }
  60% {
    clip: rect(103px, 450px, 95px, 0); }
  64% {
    clip: rect(114px, 450px, 68px, 0); }
  68% {
    clip: rect(4px, 450px, 70px, 0); }
  72% {
    clip: rect(49px, 450px, 66px, 0); }
  76% {
    clip: rect(64px, 450px, 103px, 0); }
  80% {
    clip: rect(84px, 450px, 34px, 0); }
  84% {
    clip: rect(115px, 450px, 74px, 0); }
  88% {
    clip: rect(111px, 450px, 80px, 0); }
  92% {
    clip: rect(32px, 450px, 105px, 0); }
  96% {
    clip: rect(5px, 450px, 59px, 0); }
  100% {
    clip: rect(95px, 450px, 69px, 0); } }
@keyframes example-one-anim-2 {
  0% {
    clip: rect(50px, 450px, 94px, 0); }
  4% {
    clip: rect(69px, 450px, 71px, 0); }
  8% {
    clip: rect(44px, 450px, 24px, 0); }
  12% {
    clip: rect(29px, 450px, 76px, 0); }
  16% {
    clip: rect(57px, 450px, 37px, 0); }
  20% {
    clip: rect(14px, 450px, 71px, 0); }
  24% {
    clip: rect(31px, 450px, 97px, 0); }
  28% {
    clip: rect(79px, 450px, 78px, 0); }
  32% {
    clip: rect(114px, 450px, 71px, 0); }
  36% {
    clip: rect(92px, 450px, 63px, 0); }
  40% {
    clip: rect(57px, 450px, 67px, 0); }
  44% {
    clip: rect(64px, 450px, 67px, 0); }
  48% {
    clip: rect(7px, 450px, 44px, 0); }
  52% {
    clip: rect(87px, 450px, 59px, 0); }
  56% {
    clip: rect(50px, 450px, 37px, 0); }
  60% {
    clip: rect(82px, 450px, 92px, 0); }
  64% {
    clip: rect(58px, 450px, 22px, 0); }
  68% {
    clip: rect(52px, 450px, 1px, 0); }
  72% {
    clip: rect(28px, 450px, 13px, 0); }
  76% {
    clip: rect(95px, 450px, 18px, 0); }
  80% {
    clip: rect(50px, 450px, 37px, 0); }
  84% {
    clip: rect(51px, 450px, 13px, 0); }
  88% {
    clip: rect(13px, 450px, 82px, 0); }
  92% {
    clip: rect(53px, 450px, 28px, 0); }
  96% {
    clip: rect(94px, 450px, 87px, 0); }
  100% {
    clip: rect(63px, 450px, 66px, 0); } }
  .glitch:before, .glitch:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    clip: rect(0, 0, 0, 0); }
  .glitch:after {
    left: 2px;
    text-shadow: -1px 0 blue;
    animation: example-one-anim-1 2s infinite linear alternate-reverse; }
  .glitch:before {
    left: -2px;
    text-shadow: 2px 0 #ff0078;
    animation: example-one-anim-2 3s infinite linear alternate-reverse; }

.behance {
  margin: 0 10px; }

@keyframes example-four-anim-1 {
  0% {
    clip: rect(5px, 40px, 29px, 0); }
  3.3333333333% {
    clip: rect(-17px, 40px, 28px, 0); }
  6.6666666667% {
    clip: rect(2px, 40px, 34px, 0); }
  10% {
    clip: rect(1px, 40px, 45px, 0); }
  13.3333333333% {
    clip: rect(-5px, 40px, 34px, 0); }
  16.6666666667% {
    clip: rect(18px, 40px, 46px, 0); }
  20% {
    clip: rect(1px, 40px, 32px, 0); }
  23.3333333333% {
    clip: rect(-4px, 40px, 44px, 0); }
  26.6666666667% {
    clip: rect(-13px, 40px, 30px, 0); }
  30% {
    clip: rect(16px, 40px, 42px, 0); }
  33.3333333333% {
    clip: rect(-17px, 40px, 54px, 0); }
  36.6666666667% {
    clip: rect(-15px, 40px, 42px, 0); }
  40% {
    clip: rect(-12px, 40px, 31px, 0); }
  43.3333333333% {
    clip: rect(18px, 40px, 60px, 0); }
  46.6666666667% {
    clip: rect(6px, 40px, 36px, 0); }
  50% {
    clip: rect(-9px, 40px, 24px, 0); }
  53.3333333333% {
    clip: rect(8px, 40px, 42px, 0); }
  56.6666666667% {
    clip: rect(2px, 40px, 31px, 0); }
  60% {
    clip: rect(12px, 40px, 60px, 0); }
  63.3333333333% {
    clip: rect(-1px, 40px, 57px, 0); }
  66.6666666667% {
    clip: rect(-1px, 40px, 21px, 0); }
  70% {
    clip: rect(-15px, 40px, 49px, 0); }
  73.3333333333% {
    clip: rect(-17px, 40px, 37px, 0); }
  76.6666666667% {
    clip: rect(-10px, 40px, 40px, 0); }
  80% {
    clip: rect(16px, 40px, 41px, 0); }
  83.3333333333% {
    clip: rect(8px, 40px, 28px, 0); }
  86.6666666667% {
    clip: rect(-17px, 40px, 35px, 0); }
  90% {
    clip: rect(-3px, 40px, 32px, 0); }
  93.3333333333% {
    clip: rect(4px, 40px, 28px, 0); }
  96.6666666667% {
    clip: rect(9px, 40px, 47px, 0); }
  100% {
    clip: rect(15px, 40px, 54px, 0); } }
@keyframes example-four-anim-2 {
  0% {
    clip: rect(-19px, 40px, 42px, 0); }
  3.3333333333% {
    clip: rect(11px, 40px, 35px, 0); }
  6.6666666667% {
    clip: rect(-4px, 40px, 31px, 0); }
  10% {
    clip: rect(-6px, 40px, 54px, 0); }
  13.3333333333% {
    clip: rect(-8px, 40px, 31px, 0); }
  16.6666666667% {
    clip: rect(-12px, 40px, 39px, 0); }
  20% {
    clip: rect(-3px, 40px, 56px, 0); }
  23.3333333333% {
    clip: rect(4px, 40px, 23px, 0); }
  26.6666666667% {
    clip: rect(-7px, 40px, 51px, 0); }
  30% {
    clip: rect(13px, 40px, 57px, 0); }
  33.3333333333% {
    clip: rect(14px, 40px, 54px, 0); }
  36.6666666667% {
    clip: rect(-1px, 40px, 55px, 0); }
  40% {
    clip: rect(7px, 40px, 23px, 0); }
  43.3333333333% {
    clip: rect(6px, 40px, 29px, 0); }
  46.6666666667% {
    clip: rect(-6px, 40px, 60px, 0); }
  50% {
    clip: rect(4px, 40px, 39px, 0); }
  53.3333333333% {
    clip: rect(14px, 40px, 22px, 0); }
  56.6666666667% {
    clip: rect(-16px, 40px, 27px, 0); }
  60% {
    clip: rect(20px, 40px, 46px, 0); }
  63.3333333333% {
    clip: rect(11px, 40px, 51px, 0); }
  66.6666666667% {
    clip: rect(11px, 40px, 44px, 0); }
  70% {
    clip: rect(9px, 40px, 23px, 0); }
  73.3333333333% {
    clip: rect(16px, 40px, 57px, 0); }
  76.6666666667% {
    clip: rect(-10px, 40px, 28px, 0); }
  80% {
    clip: rect(10px, 40px, 49px, 0); }
  83.3333333333% {
    clip: rect(-16px, 40px, 27px, 0); }
  86.6666666667% {
    clip: rect(1px, 40px, 25px, 0); }
  90% {
    clip: rect(-9px, 40px, 50px, 0); }
  93.3333333333% {
    clip: rect(10px, 40px, 31px, 0); }
  96.6666666667% {
    clip: rect(0px, 40px, 53px, 0); }
  100% {
    clip: rect(4px, 40px, 53px, 0); } }
.more:hover figure svg {
  position: absolute;
  top: 0px;
  left: 0px;
  fill: var(--safe-color) !important;
  background: transparent;
  width: 40px;
  height: 40px; }
.more:hover figure svg:nth-child(2),
.more:hover figure svg:nth-child(3) {
  clip: rect(0, 0, 0, 0); }
.more:hover figure svg:nth-child(1) {
  z-index: 2;
  opacity: 0.9; }
.more:hover figure svg:nth-child(2) {
  fill: var(--gradient-one) !important;
  left: -2px;
  animation: example-four-anim-1 2s infinite linear alternate-reverse; }
.more:hover figure svg:nth-child(3) {
  fill: var(--gradient-two) !important;
  left: 2px;
  animation: example-four-anim-2 3s infinite linear alternate-reverse; }

.github, .behance, .twitter {
  display: inline-block;
  width: 40px;
  height: 40px; }
  .github svg, .behance svg, .twitter svg {
    height: 100%;
    display: block;
    position: absolute; }

@keyframes heartBeat {
  0% {
    -moz-transform: rotate(-45deg) scale(0.5);
    -ms-transform: rotate(-45deg) scale(0.5);
    -webkit-transform: rotate(-45deg) scale(0.5);
    transform: rotate(-45deg) scale(0.5); }
  100% {
    -moz-transform: rotate(-45deg) scale(0.8);
    -ms-transform: rotate(-45deg) scale(0.8);
    -webkit-transform: rotate(-45deg) scale(0.8);
    transform: rotate(-45deg) scale(0.8); } }
@keyframes shake {
  0% {
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg); }
  25% {
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg); }
  50% {
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg); }
  75% {
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg); }
  100% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }
.was {
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center; }

.inner.active .was {
  animation-delay: 0.3s;
  animation-duration: 0.6s;
  animation-name: shake;
  animation-iteration-count: 1;
  animation-direction: alternate;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.mood-actions:not(.active) .heart {
  opacity: 0;
  transform: scale(0); }

.mood-actions.active .heart {
  transform-origin: 50%;
  opacity: 1;
  background-color: #2b2b2b;
  background-color: var(--safe-color);
  display: block;
  height: 26px;
  margin: -13px 0 0 -13px;
  position: absolute;
  -moz-transform: rotate(-45deg) scale(0.6);
  -ms-transform: rotate(-45deg) scale(0.6);
  -webkit-transform: rotate(-45deg) scale(0.6);
  transform: rotate(-45deg) scale(0.6);
  width: 26px;
  left: 50%;
  top: 50%;
  cursor: pointer;
  animation-duration: 0.7s;
  animation-name: heartBeat;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  transition: transform, opacity 0.3s cubic-bezier(0.36, -0.64, 0.34, 1.76);
  box-shadow: 5px -5px 60px 10px #00000042; }
  .mood-actions.active .heart:before, .mood-actions.active .heart:after {
    content: "";
    background-color: inherit;
    border-radius: 50%;
    height: 26px;
    position: absolute;
    width: 26px; }
  .mood-actions.active .heart:before {
    top: -13px;
    left: 0; }
  .mood-actions.active .heart:after {
    left: 13px;
    top: 0; }
  .mood-actions.active .heart:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused; }

.css-variables .outer {
  background-image: linear-gradient(45deg, var(--gradient-one), var(--gradient-two)); }

.outer {
  height: 100vh;
  width: 100vw;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(45deg, #633f69, #be3e6f);
  display: flex; }
  .outer.active:before {
    opacity: 0; }
  .outer:before {
    content: '';
    display: block;
    width: inherit;
    height: 120%;
    min-height: inherit;
    position: fixed;
    background: #eee;
    opacity: 1;
    transition: opacity 0.1s linear;
    pointer-events: none;
    z-index: 10; }

.full-height {
  height: 100vh; }

.full-fill {
  width: 100%;
  height: 120%;
  position: fixed;
  top: 0;
  left: 0; }

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-column-gap: 1px;
  grid-row-gap: 2px;
  z-index: 0;
  pointer-events: none; }

.outer.flex-grid-container.full-height.no-svg-morphing {
  height: 100vh;
  min-height: auto; }
  .outer.flex-grid-container.full-height.no-svg-morphing .tooltip-container {
    display: none; }

.tooltip-container {
  max-width: 300px;
  width: 300px;
  height: 96px;
  margin: auto; }
  .tooltip-container .tooltip-wrapper {
    height: 100%;
    display: flex; }
  .tooltip-container .tooltip {
    align-self: flex-end;
    width: 100%;
    height: 96px;
    display: flex; }
    .tooltip-container .tooltip p {
      align-self: center;
      margin: 0;
      padding: 0;
      line-height: 0;
      text-align: center;
      width: 100%;
      z-index: 1; }
    .tooltip-container .tooltip svg {
      opacity: 1;
      position: absolute; }
  .tooltip-container .line-up, .tooltip-container .line-down, .tooltip-container .shape {
    transition: all 0.5s; }
  .tooltip-container .line-up, .tooltip-container .line-down {
    fill: none;
    stroke: #2b2b2b;
    stroke: var(--safe-color);
    stroke-width: 1px;
    stroke-miterlimit: 10; }

.item {
  background: rgba(255, 255, 255, 0.1); }

/*# sourceMappingURL=styles.css.map */
