/*
  (TEXT) PARAMS
  =================
  1. Namespace
  2. Intensity
  3. Text color
  4. Background color (flat)
  5. Highlight #1 color
  6. Highlight #2 color
  7. Width (px)
  8. Height (px)
*/
@media only screen and (min-height: 0px) and (max-height: 600px) {
  .outer .middle figure.inner {
    margin: -20% auto 0 auto; } }
@media only screen and (min-width: 0px) and (max-width: 321px) {
  h1.hello {
    font-size: 78px; }

  figure.badge {
    margin: auto;
    max-width: 60px; }

  body .comingSoon {
    font-size: 20px; } }
@media only screen and (min-width: 321px) and (max-width: 768px) {
  html body main .tinyNav span:before, html body main .tinyNav span:after {
    display: none !important; }

  .hello {
    font-size: 87px; }

  .comingSoon {
    font-size: 23px;
    max-width: 400px;
    padding: 0 25px; }

  .outer .middle .inner {
    margin: -50px auto 0 auto; }

  html body main .code.activated .codeDetails ul .asTable, html body main .code.activated .designDetails ul .asTable, html body main .design.activated .codeDetails ul .asTable, html body main .design.activated .designDetails ul .asTable {
    max-width: 90% !important; }
  html body main .code.activated .codeDetails .tinyNav, html body main .design.activated .codeDetails .tinyNav {
    display: block;
    position: absolute;
    width: 100%;
    height: 50px;
    top: 13px;
    text-align: left;
    margin: 0;
    left: 0;
    right: 0; }
    html body main .code.activated .codeDetails .tinyNav .tinyButton, html body main .design.activated .codeDetails .tinyNav .tinyButton {
      width: 26px;
      height: 26px;
      display: inline-block; }
      html body main .code.activated .codeDetails .tinyNav .tinyButton:first-child, html body main .design.activated .codeDetails .tinyNav .tinyButton:first-child {
        box-shadow: inset 0px 0px 0px 2px #111; }
  html body main .code.activated ul .asTable h3, html body main .design.activated ul .asTable h3 {
    font-size: 10em; }

  html body main .code:not(.activated) .codeDetails .tinyNav, html body main .design:not(.activated) .codeDetails .tinyNav {
    display: none; }
  html body main .code:not(.activated) article, html body main .code:not(.activated) .codeDetails, html body main .code:not(.activated) .designDetails, html body main .design:not(.activated) article, html body main .design:not(.activated) .codeDetails, html body main .design:not(.activated) .designDetails {
    position: relative;
    float: none;
    width: 100%; }
  html body main .code:not(.activated) article, html body main .design:not(.activated) article {
    padding: 0px;
    background-attachment: scroll; }
  html body main .code:not(.activated) .codeDetails:after, html body main .code:not(.activated) .designDetails:after, html body main .design:not(.activated) .codeDetails:after, html body main .design:not(.activated) .designDetails:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid #2b2b2b;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    display: block;
    position: absolute;
    left: 50%;
    top: -38px;
    margin-left: -40px; }
  html body main .code:not(.activated) .code-shield, html body main .code:not(.activated) .design-shield, html body main .design:not(.activated) .code-shield, html body main .design:not(.activated) .design-shield {
    max-width: 60%;
    margin: 50px auto;
    max-height: 188px; }

  .design.activated .codeDetails ul li.asTable:not(.innerNav) p, .code.activated .codeDetails ul li.asTable:not(.innerNav) p {
    font-size: 16px;
    padding: 20px;
    line-height: 20px;
    text-align: left;
    border-left: 4px solid;
    opacity: 1; }

  .design.activated .codeDetails ul li.asTable:not(.innerNav) span.bar, .code.activated .codeDetails ul li.asTable:not(.innerNav) span.bar {
    font-size: 16px;
    padding: 20px;
    line-height: 20px;
    text-align: left;
    opacity: 1; }

  .design.activated .codeDetails ul li.asTable:not(.innerNav) p.withBg span.val, .code.activated .codeDetails ul li.asTable:not(.innerNav) p.withBg span.val {
    font-size: 33px;
    position: absolute;
    font-weight: 200;
    right: 0;
    bottom: -10px; }

  html body main #instafeed .instaImagesBg a:not(.mailtoMe) img {
    width: calc(100% / 3 );
    color: green; } }
:root {
  --gradient-one: #633f69;
  --gradient-two: #be3e6f; }

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  color: #2b2b2b;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html *, *:before, *:after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased; }

body {
  font-size: 100%;
  margin: 0;
  padding: 0;
  background: #eee; }

a {
  text-decoration: none; }

svg {
  display: block;
  width: 100%;
  height: 100%;
  fill: #2b2b2b; }

.glitch, h2, h4, h5 {
  font-family: 'Lato','helvetica neue', arial, helvetica, 'lucida grande', sans-serif; }

.hello {
  display: inline-block;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 100px;
  letter-spacing: 2px;
  font-weight: 900;
  margin: 0; }

.comingSoon {
  color: #2b2b2b;
  font-size: 25px;
  font-weight: 500;
  padding: 0 0 25px;
  max-width: 800px;
  margin: auto;
  line-height: 32px; }
  .comingSoon a {
    color: #2b2b2b; }
  .comingSoon .glitch {
    display: inline-block;
    white-space: nowrap;
    color: #2b2b2b;
    position: relative; }
@keyframes example-one-anim-1 {
  0% {
    clip: rect(50px, 450px, 60px, 0); }
  4% {
    clip: rect(12px, 450px, 13px, 0); }
  8% {
    clip: rect(65px, 450px, 42px, 0); }
  12% {
    clip: rect(101px, 450px, 100px, 0); }
  16% {
    clip: rect(61px, 450px, 92px, 0); }
  20% {
    clip: rect(23px, 450px, 110px, 0); }
  24% {
    clip: rect(36px, 450px, 94px, 0); }
  28% {
    clip: rect(109px, 450px, 84px, 0); }
  32% {
    clip: rect(70px, 450px, 49px, 0); }
  36% {
    clip: rect(42px, 450px, 93px, 0); }
  40% {
    clip: rect(80px, 450px, 39px, 0); }
  44% {
    clip: rect(17px, 450px, 67px, 0); }
  48% {
    clip: rect(86px, 450px, 86px, 0); }
  52% {
    clip: rect(21px, 450px, 83px, 0); }
  56% {
    clip: rect(82px, 450px, 110px, 0); }
  60% {
    clip: rect(16px, 450px, 1px, 0); }
  64% {
    clip: rect(115px, 450px, 105px, 0); }
  68% {
    clip: rect(11px, 450px, 21px, 0); }
  72% {
    clip: rect(99px, 450px, 5px, 0); }
  76% {
    clip: rect(87px, 450px, 64px, 0); }
  80% {
    clip: rect(85px, 450px, 80px, 0); }
  84% {
    clip: rect(30px, 450px, 48px, 0); }
  88% {
    clip: rect(6px, 450px, 51px, 0); }
  92% {
    clip: rect(76px, 450px, 21px, 0); }
  96% {
    clip: rect(47px, 450px, 2px, 0); }
  100% {
    clip: rect(83px, 450px, 29px, 0); } }
@keyframes example-one-anim-2 {
  0% {
    clip: rect(81px, 450px, 59px, 0); }
  4% {
    clip: rect(94px, 450px, 14px, 0); }
  8% {
    clip: rect(50px, 450px, 114px, 0); }
  12% {
    clip: rect(58px, 450px, 86px, 0); }
  16% {
    clip: rect(44px, 450px, 102px, 0); }
  20% {
    clip: rect(47px, 450px, 18px, 0); }
  24% {
    clip: rect(87px, 450px, 15px, 0); }
  28% {
    clip: rect(14px, 450px, 101px, 0); }
  32% {
    clip: rect(28px, 450px, 19px, 0); }
  36% {
    clip: rect(45px, 450px, 96px, 0); }
  40% {
    clip: rect(82px, 450px, 15px, 0); }
  44% {
    clip: rect(80px, 450px, 24px, 0); }
  48% {
    clip: rect(79px, 450px, 71px, 0); }
  52% {
    clip: rect(97px, 450px, 85px, 0); }
  56% {
    clip: rect(62px, 450px, 81px, 0); }
  60% {
    clip: rect(26px, 450px, 82px, 0); }
  64% {
    clip: rect(84px, 450px, 35px, 0); }
  68% {
    clip: rect(50px, 450px, 99px, 0); }
  72% {
    clip: rect(70px, 450px, 90px, 0); }
  76% {
    clip: rect(45px, 450px, 55px, 0); }
  80% {
    clip: rect(90px, 450px, 42px, 0); }
  84% {
    clip: rect(111px, 450px, 69px, 0); }
  88% {
    clip: rect(105px, 450px, 86px, 0); }
  92% {
    clip: rect(89px, 450px, 36px, 0); }
  96% {
    clip: rect(76px, 450px, 84px, 0); }
  100% {
    clip: rect(19px, 450px, 22px, 0); } }
    .comingSoon .glitch:before, .comingSoon .glitch:after {
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: rgba(255, 255, 255, 0.1);
      clip: rect(0, 0, 0, 0); }
    .comingSoon .glitch:after {
      left: 2px;
      text-shadow: -1px 0 blue;
      animation: example-one-anim-1 2s infinite linear alternate-reverse; }
    .comingSoon .glitch:before {
      left: -2px;
      text-shadow: 2px 0 #ff0078;
      animation: example-one-anim-2 3s infinite linear alternate-reverse; }

.behance, .github {
  display: inline-block;
  margin: 0 0 0 5px;
  width: 40px;
  height: 40px; }
  .behance svg, .github svg {
    height: 100%;
    display: block; }

@keyframes heartBeat {
  0% {
    -moz-transform: rotate(-45deg) scale(0.5);
    -ms-transform: rotate(-45deg) scale(0.5);
    -webkit-transform: rotate(-45deg) scale(0.5);
    transform: rotate(-45deg) scale(0.5); }
  100% {
    -moz-transform: rotate(-45deg) scale(0.6);
    -ms-transform: rotate(-45deg) scale(0.6);
    -webkit-transform: rotate(-45deg) scale(0.6);
    transform: rotate(-45deg) scale(0.6); } }
@keyframes shake {
  0% {
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg); }
  25% {
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg); }
  50% {
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg); }
  75% {
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg); }
  100% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }
#was {
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center; }

.inner.active #was {
  animation-delay: 0.3s;
  animation-duration: 0.6s;
  animation-name: shake;
  animation-iteration-count: 1;
  animation-direction: alternate;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */ }

.hart.active {
  pointer-events: auto; }

.heart:not(.active) {
  pointer-events: none;
  opacity: 0.3; }

.heart {
  background-color: #2b2b2b;
  display: block;
  height: 26px;
  margin: 0 10px;
  position: absolute;
  -moz-transform: rotate(-45deg) scale(0.6);
  -ms-transform: rotate(-45deg) scale(0.6);
  -webkit-transform: rotate(-45deg) scale(0.6);
  transform: rotate(-45deg) scale(0.6);
  width: 26px;
  left: 50%;
  margin-left: -13px;
  bottom: 30px;
  opacity: 0.5;
  cursor: pointer;
  animation-duration: 0.7s;
  animation-name: heartBeat;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none; }

.heart:before,
.heart:after {
  content: "";
  background-color: #2b2b2b;
  border-radius: 50%;
  height: 26px;
  position: absolute;
  width: 26px; }

.heart:before {
  top: -13px;
  left: 0; }

.heart:after {
  left: 13px;
  top: 0; }

.outer.active:before {
  opacity: 0; }

.outer {
  display: table;
  height: 100vh;
  width: 100vw;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: linear-gradient(45deg, var(--gradient-one), var(--gradient-two)); }
  .outer.active:before {
    opacity: 0; }
  .outer:before {
    content: '';
    display: block;
    width: inherit;
    height: inherit;
    min-height: inherit;
    position: fixed;
    background: #eee;
    opacity: 1;
    transition: opacity 0.1s linear;
    pointer-events: none;
    z-index: 10; }
  .outer .middle {
    display: table-cell;
    vertical-align: middle;
    position: relative; }
    .outer .middle .inner {
      position: relative;
      margin: 0 auto 0 auto;
      width: 80%;
      max-width: 400px; }
    .outer .middle #logo {
      width: 50%;
      height: auto; }
      .outer .middle #logo * {
        stroke-width: 2; }

/*# sourceMappingURL=styles.css.map */
