@import 'bourbon/bourbon';
@import 'glitch';
@import 'hamburger/hamburgers/hamburgers.scss';

$black: #111111;
$arrowSize: 40px;
$secondColor: #f7f7f7;
/* apply a natural box layout model to all elements, but allowing components to change */
html{
  box-sizing: border-box;
  color:$black;
  text-align:center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html *, *:before, *:after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}
.glitch,h2,h4,h5{
  font-family: 'Lato','helvetica neue', arial, helvetica, 'lucida grande', sans-serif;
}
h1,span,p,article,a,:after,::before,h3{
  font-family: 'Anonymous Pro', monospace, 'helvetica neue', arial, helvetica, 'lucida grande', sans-serif;
}
body {
  font-size: 100%;
  margin:0;
  padding:0;
}
.navUI{
  display:none;
  position: fixed;
  top: 0;
  left: 0;
  height: 55px;
  width: 100%;
  background: rgba(250, 250, 250, 0.5);
  z-index: 5;
  //box-shadow:0px 0px 2px 2px grey;
}
.hamburger{
  position: fixed;
  right:0;
  z-index:5;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}
.closeUI{
  @include transition(all 0.3s ease-out);
}
.closeUI,.imgWrapp{
  &:active{
    opacity:0.6;
    @include transform(scale(1.1));
  }
}
.image-content{
  width:100%;
}
.image-content-wrapp.show{
  height:600px;
  margin:auto;
}
.image-content-wrapp{
  width:90%;
  height:0;
  overflow:scroll;
  margin: -10px auto;
  @include transition(all 0.3s ease-out);
}
html .design.activated .designDetails .imgWrapp{
  &.isOff{
    height:0;
    visibility: hidden;
    margin:0;
  }
}
html .design .designDetails .imgWrapp{
  &.isOff{
    @include transform(scale(0.5));
    opacity:0;
  }
  &.isOn:before{
    display:none;
  };
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body{
	margin:0;
	padding:0;
	background:#eee;
}
.max400{
  padding: 25px;
  max-width: 400px;
}
.asTable{
  display: table;
}
.asTable-cell{
  display: table-cell;
  vertical-align: middle;
  position: relative;
}
// .snap{
//   float: left;
//   width: 100vw;
// }
// .scroller{
//   overflow-x: hidden;
//   position: absolute;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   overflow: auto;
//   -webkit-scroll-snap-points-y: repeat(100%);
//       -ms-scroll-snap-points-y: repeat(100%);
//           scroll-snap-points-y: repeat(100%);
//   -webkit-scroll-snap-type: mandatory;
//       -ms-scroll-snap-type: mandatory;
//           scroll-snap-type: mandatory;
//   -webkit-scroll-snap-destination: 100% 0%;
//       -ms-scroll-snap-destination: 100% 0%;
//           scroll-snap-destination: 100% 0%;
// }
// Hero related styling
.badge{
  max-width: 80px;
  margin: 40px auto;
}
.time{
  display: block;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 100px;
  letter-spacing: 2px;
  font-weight: 900;
  margin: 0;
  //text-shadow: 1px 2px rgba(1, 1, 1, 0.25);
}
.comingSoon{
  color:$black;
  font-size: 25px;
  font-weight: 400;
  padding: 25px;
  max-width: 800px;
  margin: auto;
  line-height: 32px;
  a{
    color:$black;
  }
  .variable::before,.variable::after{
    top:-2px !important;
  }
  .glitch{
    display:inline-block;
    white-space:nowrap;
    @include textGlitch("example-one", 25, $black, rgba(255,255,255,0.1), blue, #ff0078, 450, 115);
  }
  small{
    display: block;
    margin-top: 10px;
    font-size: 15px;
    line-height: 20px;
  }
}
.behance{
  width:70px;
}
.github{
  width:50px;
}
.behance,.github{
  display:inline-block;
  margin:0 10px;
  max-height:18px;
  svg{
    height:100%;
    display:block;
  }
}
@keyframes heartBeat {
  0%{
    @include transform(rotate(-45deg) scale(0.5));
  }
  100% {
    @include transform(rotate(-45deg) scale(0.6));
  }
}
@keyframes shake {
  0%{
    @include transform(rotate(15deg));
  }
  25%{
    @include transform(rotate(-15deg));
  }
  50%{
    @include transform(rotate(10deg));
  }
  75%{
    @include transform(rotate(-10deg));
  }
  100% {
    @include transform(rotate(0deg));
  }
}
#was{
  @include transform-origin(center);
}
.inner.active #was{
  animation-delay:0.3s;
  animation-duration: 0.6s;
  animation-name: shake;
  animation-iteration-count: 1;
  animation-direction: alternate;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}
.heart {
  background-color: $black;
  display: block;
  height: 26px;
  margin: 0 10px;
  position: absolute;
  @include transform(rotate(-45deg) scale(0.6));
  width: 26px;
  left: 50%;
  margin-left: -13px;
  bottom: 30px;
  opacity:0.2;
  cursor:pointer;
  animation-duration: 0.7s;
  animation-name: heartBeat;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}
.heart:before,
.heart:after {
  content: "";
  background-color: $black;
  border-radius: 50%;
  height: 26px;
  position: absolute;
  width: 26px;
}
.heart:before {
  top: -13px;
  left: 0;
}
.heart:after {
  left: 13px;
  top: 0;
}
// Code + Design content styling
.stop1,.stop2{
  @include transition(background 0.3s linear);
}
.hr{
  @include transition(width 0.2s ease-out 1s);
  display: block;
  width: 14%;
  height: 6px;
  border-radius: 12px;
  margin: 40px auto;
  background: $black;
}
.code{
  article{
    float:left;
    left:0;
    h2{
      max-width: 137px;
    }
  }
  .codeDetails{
    float:right;
    @include transition(background 0.1s ease-out);
    &:after{
      content:'';
      width: 0;
      height: 0;
      border-top: $arrowSize solid transparent;
      border-bottom: $arrowSize solid transparent;
      border-left: $arrowSize solid transparent;
      border-right: $arrowSize solid $secondColor;
      display:block;
      position:absolute;
      left:-$arrowSize*2;
      top:50%;
      margin-top:-$arrowSize
    }
    .tinyNav{
      position: absolute;
      right: 5px;
      width: 25px;
      height: 164px;
      top: 50%;
      margin-top: -82px;
      .tinyButton.active{
        opacity:1;
        &:after,&:before{
          opacity:1;
        }
      }
      .tinyButton:not(.active):hover{
        opacity:1;
        &:after,&:before{
          background:#999;
          opacity:1;
        }
      }
      .tinyButton{
        background:$black;
        width:10px;
        height:10px;
        border-radius:100%;
        display: block;
        margin: 12px 3px;
        opacity:0.3;
        cursor:pointer;
        @include transition(opacity 0.3s linear);
        position:relative;
      }
      .tinyButton::after{
        content: attr(data-for);
        position: absolute;
        left: -80px;
        font-size: 11px;
        line-height:15px;
        display: block;
        color: white;
        background: $black;
        text-align: center;
        padding: 2px;
        margin-top: -4.5px;
        width: 74px;
        border-radius: 2px;
        opacity: 0;
        height: 20px;
        text-transform: uppercase;
      }
      .tinyButton::before{
        content: '';
        position: absolute;
        left: -13px;
        display: block;
        background: $black;
        width: 10px;
        height: inherit;
        transform: rotate(45deg);
        top: 0px;
        opacity:0;
      }
    }
    ul{
      .asTable{
        .imagesContainer .imgWrapp{
          margin:3px;
          display:inline-block;
          position:relative;
          cursor:pointer;
          overflow:hidden;
          width:100px;
          height:120px;
          background:$black;
          color:white;
          text-transform:uppercase;
          line-height: 100px;
        }
        .imagesContainer .imgWrapp::before{
          content: 'see more';
          position: absolute;
          width: 100%;
          text-transform: uppercase;
          height: 26px;
          z-index: 1;
          line-height: 26px;
          opacity: 1;
          pointer-events: none;
          color: white;
          bottom: 0;
          left:0;
          @include transition(all 0.3s ease-out);
          font-size:13px;
          font-weight: 700;
          letter-spacing: 1px;
          box-shadow:inset 0px 0px 0px 2px $black;
        }
        .imagesContainer .imgWrapp::after{
          content: '';
          position: absolute;
          left: 12%;
          bottom: 8px;
          height: 6px;
          width: 0;
          opacity: 0.5;
          @include transition(all 0.3s ease-out);
          z-index:2;
        }
        .imgWrapp:hover{
          box-shadow: 0 1px 4px rgba(1,1,1,.25);
          &:after{
            width:75%;
          }
        }
      }
    }
    .devIcon{
      width: 85px;
      margin: 15px;
      cursor:pointer;
      opacity:0.6;
      @include transform(scale(0.4));
      @include transition(all 0.3s ease-out);
      // cubic-bezier(.45,-0.67,.53,1.63);
    }
  }
}
.design{
  article{
    float:right;
    right:0;
    h2{
      max-width: 185px;
    }
  }
  .designDetails{
    float:left;
    &:after{
      content:'';
      width: 0;
      height: 0;
      border-top: $arrowSize solid transparent;
      border-bottom: $arrowSize solid transparent;
      border-left: $arrowSize solid $secondColor;
      border-right: $arrowSize solid transparent;
      display:block;
      position:absolute;
      right:-$arrowSize*2;
      top:50%;
      margin-top:-$arrowSize
    }
    .imgWrapp{
      display: block;
      width: 90%;
      height: 100px;
      background: $black;
      position: relative;
      margin: 20px auto;
      color: white;
      line-height: 100px;
      cursor:pointer;
      &:hover:before{
        animation-delay:0s;
        animation-duration: 0.6s;
        animation-name: shake;
        animation-iteration-count: 1;
        animation-direction: alternate;
        -webkit-user-select: none; /* Chrome/Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+ */
      }
      &:after{
        content: '';
        background: transparent;
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 0;
        height: 0px;
        background: red;
      }
      &:before{
        content: 'see more';
        color: white;
        display: block;
        //background: red;
        box-shadow: 0px 0px 0px 2px $black;
        position: absolute;
        height: 24px;
        top: -12px;
        right: -20px;
        line-height: 14px;
        font-size: 13px;
        padding: 5px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
  }
}
.design,.code{
  .withBg span{
    @include transition(width 1s ease-out);
  }
}
.half-width{
  width:50%;
  &.float-left{float:left};
  &.float-right{float:right};
}
.design.activated{
  article{
    @include transform(translate3d(100%,0,0));
    overflow:hidden;
  }
  .designDetails ul .asTable .imagesContainer{
    //margin-top: 100px;
    //position: absolute;
    //width: 100%;
  }
}
.code.activated{
  article{
    @include transform(translate3d(-100%,0,0));
    overflow:hidden;
  }
}
.design.activated,.code.activated{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 0;
  width: 100%;
  z-index:2;
  ul.detailsContainer.overlay{
    //background:transparent;
  }
  ul li.asTable:not(.innerNav){
    max-width:70%;
  };
  .codeDetails ul .asTable{
    h3{
      opacity:0.07;
    }
    p.withBg{
      background:rgba(0,0,0,0.05);
      span.bar{
        display: block;
        height: 100%;
        width: 0%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        white-space: nowrap;
        color:$black;
      };
      span.val{
        font-size: 56px;
        position: absolute;
        font-weight: 200;
        right:0;
      }
    }
    span.bar{
      padding: 20px;
      line-height: 25px;
      text-align: left;
    }
    p{
      font-size: 20px;
      padding: 20px;
      line-height: 25px;
      text-align: left;
      border-left: 4px solid;
      opacity: 1;
      position:relative;
    }
  }
  .codeDetails,.designDetails{
    width:100%;
  }
  .closeUI{
    display:block;
  }
}
.code article, .design article{
  position:absolute;
}
.design,.code{
  display: block;
  svg{
    width: 100%;
    display: block;
    max-width: 250px;
    margin: auto;
  }
  .closeUI{
    position: fixed;
    width: 40px;
    height: 40px;
    right: 20px;
    top: 20px;
    z-index: 2;
    cursor:pointer;
    display:none;
    &:after{
      content:'+';
      color: $black;
      font-size: 50px;
      line-height: 34px;
      font-weight: 700;
      display: block;
      transform: rotate(45deg);
    }
  }
  .codeDetails,.designDetails{
    position:relative;
    background-color:$secondColor;
    width: 50%;
    height: inherit;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    @include transition(width 0.5s ease-in-out);
    ul.scrollable{
      overflow-y:scroll;
    }
    ul{
      text-align:center;
      overflow:hidden;
      width: 100%;
      height: 100%;
      position: absolute;
      //background: url('../svg/shapes.svg') repeat-x;
      background-size:cover;
      @include transition(background 0.6s ease-out);
      .imagesContainer .imgWrapp{
        @include transition(all 0.4s ease-out);
      }
      .imagesContainer .imgWrapp.def{
        @include transform(scale(0));
      }
      .asTable{
        display:table;
        width:100%;
        height:100%;
        position:relative;
        max-width: 245px;
        margin-left:auto;
        margin-right:auto;
        @include transition(all 0.6s ease-in-out);
        aside{
          display: table-cell;
          vertical-align: middle;
          position: relative;
        }
        .imagesContainer{
          display: table-cell;
          vertical-align: middle;
          position: relative;
          margin-top:0;
          //@include transition(all 0.5s ease-in);
        }
        h3{
          text-transform: uppercase;
          letter-spacing: 5px;
          margin-top: 0px;
          font-weight: 700;
          display: block;
          position: absolute;
          font-size: 19em;
          top: -65px;
          opacity: 0;
          pointer-events: none;
          text-shadow: 0px 3px 0px rgba(2, 2, 2, 1);
          text-align: center;
          width: 100%;
          @include transition(all 0.6s ease-out);
        }
      }
    }
  };
  article.def{
    .article-h2, .code-shield, .design-shield{
      @include transform(translateY(100px));
      opacity:0;
    };
    .hr{
      width:0;
    }
  };
  article{
    background-image:url(../images/articlesBg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-weight: 300;
    font-size: 22px;
    line-height:44px;
    color:$black;
    padding:50px;
    width:50%;
    height:inherit;
    //min-height: inherit;
    @include transition(all 0.5s ease-out);
    .article-span,.code-shield{
      text-align:left;
      @include transition(all 1s ease-out);
      max-width: 70%;
      margin: 80px auto;
    }
    .code-shield #code-shield{
      display:block;
      max-height:100%;
    }
    span{
      display:block;
    }
  }
  h2{
    @include transition(all 0.8s ease-out);
    text-transform:uppercase;
    letter-spacing: 4px;
    margin: 0 auto 30px auto;
    font-size: 45px;
    span{
      background-image:url(../images/zigzag.svg);
      display: block;
      width: 100%;
      height: 23px;
    }
  }
}
.outer.active:before{
  opacity:0
}
.outer{
  //@include transition(all 10s linear);
	display:table;
	height:100%;
	width:100%;
	right:0;
	bottom:0;
  z-index:-1;
  &:before{
    content:'';
    display:block;
    width:inherit;
    height:inherit;
    min-height:inherit;
    position:fixed;
    background:#eee;
    opacity:1;
    @include transition(opacity 0.3s linear);
    pointer-events: none;
    z-index:10;
  }
	.middle{
		display:table-cell;
		vertical-align:middle;
    position:relative;
		.inner{
			position:relative;
			margin: 0 auto 0 auto;
			width:80%;
			max-width:400px
		}
    #Layer_1{
      width: 50%;
      height: auto;
      * {
        stroke-width:2;
      }
    }
	}
}
#instafeed{
  overflow:hidden;
  position:relative;
  width:100%;
  .svg-container{
    padding:0;
    margin: auto;
    max-height: 120px;
    svg{
      display: block;
      max-width: 130px;
      margin: auto;
    }
  }
  footer{
    margin:auto;
    nav{
      padding: 20px 0;
      text-align: right;
    }
    .line{
      height: 15px;
      display: inline-block;
      background: #111111;
      width: 35%;
      float: left;
    }
    .mailtoMe{
      display:block;
      background:$black;
      height:60px;
      color:white;
      text-transform:uppercase;
      text-decoration:none;
      line-height:60px;
    }
  }
  .instaImagesBg{
    position: absolute;
    height:100%;
    &:after{
      content: '';
      display: block;
      //@include background-image(linear-gradient(to bottom, rgba(250,250,250,0), #ffffff));
      width: 100%;
      height: inherit;
      position: absolute;
      left: 0;
      top: 0;
    };
  };
  article{
    margin: auto;
    line-height: 23px;
    .images-show{
      display: block;
      background: transparent;
      box-shadow: 0px 0px 0px 2px #111111;
      text-align: center;
      padding: 6px;
      text-decoration: none;
      text-transform: uppercase;
      color: $black;
      margin: 20px auto;
      width: 60%;
      border-radius: 20px;
      position:relative;
      overflow:hidden;
      &:after{
        content:'\2192 ';
        display: block;
        position: absolute;
        right: 3px;
        top: 0;
        width: 30px;
        height: 100%;
        border-radius: 0 20px 20px 0;
        line-height: 32px;
      }
    }
  };
  a.instaLink{
    opacity: 0.1;
    @include transition(opacity 0.3s ease-out);
    img{
      width: calc( 100% / 6 );
      padding: 0;
      margin: 0 0px -4px 0;
    }
  }
}
/* line 233, ../css-pre/main.scss */
#instafeed{
  a:hover {
    opacity: 1;
  }
}
