{
    "presets": [["env", {"modules": "commonjs"}]],
    "plugins": ["transform-es2015-modules-commonjs"],
    "ignore": [
        "coverage/**/*.js",
        "paper-js/**/*.js",
        "dist/**/*.js",
        "**/*.test.js"
    ]
}