/* apply a natural box layout model to all elements, but allowing components to change */
/* line 9, ../main_pre.scss */
h1, h2, h4, h5 {
  font-family: 'Lato',"helvetica neue", arial, helvetica, "lucida grande", sans-serif;
}

/* line 12, ../main_pre.scss */
span, p, article, a, :after, ::before, h3 {
  font-family: 'Anonymous Pro', monospace, "helvetica neue", arial, helvetica, "lucida grande", sans-serif;
}

/* line 15, ../main_pre.scss */
html {
  box-sizing: border-box;
  color: #111111;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 22, ../main_pre.scss */
.closeUI {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 26, ../main_pre.scss */
.closeUI:active, .imgWrapp:active {
  opacity: 0.6;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

/* line 31, ../main_pre.scss */
.image-content {
  width: 100%;
}

/* line 34, ../main_pre.scss */
.image-content-wrapp.show {
  height: 600px;
}

/* line 37, ../main_pre.scss */
.image-content-wrapp {
  width: 90%;
  height: 0;
  overflow: scroll;
  margin: auto;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 45, ../main_pre.scss */
html .design.activated .designDetails .imgWrapp.isOff {
  height: 0;
  visibility: hidden;
  margin: 0;
}

/* line 52, ../main_pre.scss */
html .design .designDetails .imgWrapp.isOff {
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0;
}
/* line 56, ../main_pre.scss */
html .design .designDetails .imgWrapp.isOn:before {
  display: none;
}

/* line 60, ../main_pre.scss */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 65, ../main_pre.scss */
html *, *:before, *:after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}

/* line 71, ../main_pre.scss */
body {
  margin: 0;
  padding: 0;
  background: #eee;
}

/* line 76, ../main_pre.scss */
.max400 {
  padding: 25px;
  max-width: 400px;
}

/* line 80, ../main_pre.scss */
.asTable {
  display: table;
}

/* line 83, ../main_pre.scss */
.asTable-cell {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

/* line 110, ../main_pre.scss */
.time {
  font-weight: 400;
}

/* line 113, ../main_pre.scss */
.comingSoon {
  font-family: 'Lato', sans-serif;
  color: #111111;
  font-size: 18px;
  font-weight: 300;
  padding: 25px;
  max-width: 400px;
  margin: auto;
}
/* line 121, ../main_pre.scss */
.comingSoon a {
  color: #111111;
}

/* line 125, ../main_pre.scss */
.behance {
  width: 70px;
}

/* line 128, ../main_pre.scss */
.github {
  width: 50px;
}

/* line 131, ../main_pre.scss */
.behance, .github {
  display: inline-block;
  margin: 0 10px;
  max-height: 18px;
}
/* line 135, ../main_pre.scss */
.behance svg, .github svg {
  height: 100%;
  display: block;
}

@keyframes heartBeat {
  /* line 141, ../main_pre.scss */
  0% {
    -webkit-transform: rotate(-45deg) scale(0.5);
    -moz-transform: rotate(-45deg) scale(0.5);
    -ms-transform: rotate(-45deg) scale(0.5);
    -o-transform: rotate(-45deg) scale(0.5);
    transform: rotate(-45deg) scale(0.5);
  }

  /* line 144, ../main_pre.scss */
  100% {
    -webkit-transform: rotate(-45deg) scale(0.6);
    -moz-transform: rotate(-45deg) scale(0.6);
    -ms-transform: rotate(-45deg) scale(0.6);
    -o-transform: rotate(-45deg) scale(0.6);
    transform: rotate(-45deg) scale(0.6);
  }
}

@keyframes shake {
  /* line 149, ../main_pre.scss */
  0% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  /* line 152, ../main_pre.scss */
  25% {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  /* line 155, ../main_pre.scss */
  50% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  /* line 158, ../main_pre.scss */
  75% {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  /* line 161, ../main_pre.scss */
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

/* line 165, ../main_pre.scss */
#was {
  -webkit-transform-origin: center 50%;
  -moz-transform-origin: center 50%;
  -ms-transform-origin: center 50%;
  -o-transform-origin: center 50%;
  transform-origin: center 50%;
}

/* line 168, ../main_pre.scss */
.inner.active #was {
  animation-delay: 0.3s;
  animation-duration: 0.6s;
  animation-name: shake;
  animation-iteration-count: 1;
  animation-direction: alternate;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}

/* line 178, ../main_pre.scss */
.heart {
  background-color: #111111;
  display: block;
  height: 26px;
  margin: 0 10px;
  position: absolute;
  -webkit-transform: rotate(-45deg) scale(0.6);
  -moz-transform: rotate(-45deg) scale(0.6);
  -ms-transform: rotate(-45deg) scale(0.6);
  -o-transform: rotate(-45deg) scale(0.6);
  transform: rotate(-45deg) scale(0.6);
  width: 26px;
  left: 50%;
  margin-left: -13px;
  bottom: 30px;
  opacity: 0.2;
  cursor: pointer;
  animation-duration: 0.7s;
  animation-name: heartBeat;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

/* line 204, ../main_pre.scss */
.heart:before,
.heart:after {
  content: "";
  background-color: #111111;
  border-radius: 50%;
  height: 26px;
  position: absolute;
  width: 26px;
}

/* line 212, ../main_pre.scss */
.heart:before {
  top: -13px;
  left: 0;
}

/* line 216, ../main_pre.scss */
.heart:after {
  left: 13px;
  top: 0;
}

/* line 221, ../main_pre.scss */
.stop1, .stop2 {
  -webkit-transition: background 0.3s linear;
  -moz-transition: background 0.3s linear;
  -o-transition: background 0.3s linear;
  transition: background 0.3s linear;
}

/* line 224, ../main_pre.scss */
.hr {
  -webkit-transition: width 0.2s ease-out;
  -webkit-transition-delay: 1s;
  -moz-transition: width 0.2s ease-out 1s;
  -o-transition: width 0.2s ease-out 1s;
  transition: width 0.2s ease-out 1s;
  display: block;
  width: 14%;
  height: 6px;
  border-radius: 12px;
  margin: 40px auto;
  background: #111111;
}

/* line 234, ../main_pre.scss */
.code article {
  float: left;
  left: 0;
}
/* line 237, ../main_pre.scss */
.code article h2 {
  max-width: 137px;
}
/* line 241, ../main_pre.scss */
.code .codeDetails {
  float: right;
  -webkit-transition: background 0.1s ease-out;
  -moz-transition: background 0.1s ease-out;
  -o-transition: background 0.1s ease-out;
  transition: background 0.1s ease-out;
}
/* line 244, ../main_pre.scss */
.code .codeDetails:after {
  content: '';
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid transparent;
  border-right: 40px solid #f7f7f7;
  display: block;
  position: absolute;
  left: -80px;
  top: 50%;
  margin-top: -40px;
}
/* line 258, ../main_pre.scss */
.code .codeDetails .tinyNav {
  position: absolute;
  right: 5px;
  width: 25px;
  height: 164px;
  top: 50%;
  margin-top: -82px;
}
/* line 265, ../main_pre.scss */
.code .codeDetails .tinyNav .tinyButton.active {
  opacity: 1;
}
/* line 267, ../main_pre.scss */
.code .codeDetails .tinyNav .tinyButton.active:after, .code .codeDetails .tinyNav .tinyButton.active:before {
  opacity: 1;
}
/* line 271, ../main_pre.scss */
.code .codeDetails .tinyNav .tinyButton:not(.active):hover {
  opacity: 1;
}
/* line 273, ../main_pre.scss */
.code .codeDetails .tinyNav .tinyButton:not(.active):hover:after, .code .codeDetails .tinyNav .tinyButton:not(.active):hover:before {
  background: #999;
  opacity: 1;
}
/* line 278, ../main_pre.scss */
.code .codeDetails .tinyNav .tinyButton {
  background: #111111;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  display: block;
  margin: 12px 3px;
  opacity: 0.3;
  cursor: pointer;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  position: relative;
}
/* line 290, ../main_pre.scss */
.code .codeDetails .tinyNav .tinyButton::after {
  content: attr(data-for);
  position: absolute;
  left: -80px;
  font-size: 11px;
  line-height: 15px;
  display: block;
  color: white;
  background: #111111;
  text-align: center;
  padding: 2px;
  margin-top: -4.5px;
  width: 74px;
  border-radius: 2px;
  opacity: 0;
  height: 20px;
  text-transform: uppercase;
}
/* line 308, ../main_pre.scss */
.code .codeDetails .tinyNav .tinyButton::before {
  content: '';
  position: absolute;
  left: -13px;
  display: block;
  background: #111111;
  width: 10px;
  height: inherit;
  transform: rotate(45deg);
  top: 0px;
  opacity: 0;
}
/* line 323, ../main_pre.scss */
.code .codeDetails ul .asTable .imagesContainer .imgWrapp {
  margin: 3px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  width: 100px;
  height: 120px;
  background: #111111;
  color: white;
  text-transform: uppercase;
  line-height: 100px;
}
/* line 336, ../main_pre.scss */
.code .codeDetails ul .asTable .imagesContainer .imgWrapp::before {
  content: 'see more';
  position: absolute;
  width: 100%;
  text-transform: uppercase;
  height: 26px;
  z-index: 1;
  line-height: 26px;
  opacity: 1;
  pointer-events: none;
  color: white;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  box-shadow: inset 0px 0px 0px 2px #111111;
}
/* line 355, ../main_pre.scss */
.code .codeDetails ul .asTable .imagesContainer .imgWrapp::after {
  content: '';
  position: absolute;
  left: 12%;
  bottom: 8px;
  height: 6px;
  width: 0;
  opacity: 0.5;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 2;
}
/* line 366, ../main_pre.scss */
.code .codeDetails ul .asTable .imgWrapp:hover {
  box-shadow: 0 1px 4px rgba(1, 1, 1, 0.25);
}
/* line 368, ../main_pre.scss */
.code .codeDetails ul .asTable .imgWrapp:hover:after {
  width: 75%;
}
/* line 374, ../main_pre.scss */
.code .codeDetails .devIcon {
  width: 85px;
  margin: 15px;
  cursor: pointer;
  opacity: 0.6;
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  -ms-transform: scale(0.4);
  -o-transform: scale(0.4);
  transform: scale(0.4);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 386, ../main_pre.scss */
.design article {
  float: right;
  right: 0;
}
/* line 389, ../main_pre.scss */
.design article h2 {
  max-width: 185px;
}
/* line 393, ../main_pre.scss */
.design .designDetails {
  float: left;
}
/* line 395, ../main_pre.scss */
.design .designDetails:after {
  content: '';
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid #f7f7f7;
  border-right: 40px solid transparent;
  display: block;
  position: absolute;
  right: -80px;
  top: 50%;
  margin-top: -40px;
}
/* line 409, ../main_pre.scss */
.design .designDetails .imgWrapp {
  display: block;
  width: 90%;
  height: 100px;
  background: #111111;
  position: relative;
  margin: 20px auto;
  color: white;
  line-height: 100px;
  cursor: pointer;
}
/* line 419, ../main_pre.scss */
.design .designDetails .imgWrapp:hover:before {
  animation-delay: 0s;
  animation-duration: 0.6s;
  animation-name: shake;
  animation-iteration-count: 1;
  animation-direction: alternate;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
/* line 429, ../main_pre.scss */
.design .designDetails .imgWrapp:after {
  content: '';
  background: transparent;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  height: 0px;
  background: red;
}
/* line 439, ../main_pre.scss */
.design .designDetails .imgWrapp:before {
  content: 'see more';
  color: white;
  display: block;
  box-shadow: 0px 0px 0px 2px #111111;
  position: absolute;
  height: 24px;
  top: -12px;
  right: -20px;
  line-height: 14px;
  font-size: 13px;
  padding: 5px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* line 460, ../main_pre.scss */
.design .withBg span, .code .withBg span {
  -webkit-transition: width 1s ease-out;
  -moz-transition: width 1s ease-out;
  -o-transition: width 1s ease-out;
  transition: width 1s ease-out;
}

/* line 464, ../main_pre.scss */
.half-width {
  width: 50%;
}
/* line 466, ../main_pre.scss */
.half-width.float-left {
  float: left;
}
/* line 467, ../main_pre.scss */
.half-width.float-right {
  float: right;
}

/* line 470, ../main_pre.scss */
.design.activated article {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  overflow: hidden;
}

/* line 481, ../main_pre.scss */
.code.activated article {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  overflow: hidden;
}

/* line 486, ../main_pre.scss */
.design.activated, .code.activated {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 0;
  width: 100%;
  z-index: 2;
}
/* line 496, ../main_pre.scss */
.design.activated ul li.asTable:not(.innerNav), .code.activated ul li.asTable:not(.innerNav) {
  max-width: 70%;
}
/* line 500, ../main_pre.scss */
.design.activated .codeDetails ul .asTable h3, .code.activated .codeDetails ul .asTable h3 {
  opacity: 0.07;
}
/* line 503, ../main_pre.scss */
.design.activated .codeDetails ul .asTable p.withBg, .code.activated .codeDetails ul .asTable p.withBg {
  background: rgba(0, 0, 0, 0.05);
}
/* line 505, ../main_pre.scss */
.design.activated .codeDetails ul .asTable p.withBg span.bar, .code.activated .codeDetails ul .asTable p.withBg span.bar {
  display: block;
  height: 100%;
  width: 0%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  white-space: nowrap;
  color: #111111;
}
/* line 516, ../main_pre.scss */
.design.activated .codeDetails ul .asTable p.withBg span.val, .code.activated .codeDetails ul .asTable p.withBg span.val {
  font-size: 56px;
  position: absolute;
  font-weight: 200;
  right: 0;
}
/* line 523, ../main_pre.scss */
.design.activated .codeDetails ul .asTable span.bar, .code.activated .codeDetails ul .asTable span.bar {
  padding: 20px;
  line-height: 25px;
  text-align: left;
}
/* line 528, ../main_pre.scss */
.design.activated .codeDetails ul .asTable p, .code.activated .codeDetails ul .asTable p {
  font-size: 20px;
  padding: 20px;
  line-height: 25px;
  text-align: left;
  border-left: 4px solid;
  opacity: 1;
  position: relative;
}
/* line 538, ../main_pre.scss */
.design.activated .codeDetails, .design.activated .designDetails, .code.activated .codeDetails, .code.activated .designDetails {
  width: 100%;
}
/* line 541, ../main_pre.scss */
.design.activated .closeUI, .code.activated .closeUI {
  display: block;
}

/* line 545, ../main_pre.scss */
.code article, .design article {
  position: absolute;
}

/* line 548, ../main_pre.scss */
.design, .code {
  display: block;
}
/* line 550, ../main_pre.scss */
.design svg, .code svg {
  width: 100%;
  display: block;
  max-width: 250px;
  margin: auto;
}
/* line 556, ../main_pre.scss */
.design .closeUI, .code .closeUI {
  position: fixed;
  width: 40px;
  height: 40px;
  right: 20px;
  top: 20px;
  z-index: 2;
  cursor: pointer;
  display: none;
}
/* line 565, ../main_pre.scss */
.design .closeUI:after, .code .closeUI:after {
  content: '+';
  color: #111111;
  font-size: 50px;
  line-height: 34px;
  font-weight: 700;
  display: block;
  transform: rotate(45deg);
}
/* line 575, ../main_pre.scss */
.design .codeDetails, .design .designDetails, .code .codeDetails, .code .designDetails {
  position: relative;
  background-color: #f7f7f7;
  width: 50%;
  height: inherit;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}
/* line 584, ../main_pre.scss */
.design .codeDetails ul.scrollable, .design .designDetails ul.scrollable, .code .codeDetails ul.scrollable, .code .designDetails ul.scrollable {
  overflow-y: scroll;
}
/* line 587, ../main_pre.scss */
.design .codeDetails ul, .design .designDetails ul, .code .codeDetails ul, .code .designDetails ul {
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("../svg/shapes.svg") repeat-x;
  background-size: cover;
  -webkit-transition: background 0.6s ease-out;
  -moz-transition: background 0.6s ease-out;
  -o-transition: background 0.6s ease-out;
  transition: background 0.6s ease-out;
}
/* line 596, ../main_pre.scss */
.design .codeDetails ul .imagesContainer .imgWrapp, .design .designDetails ul .imagesContainer .imgWrapp, .code .codeDetails ul .imagesContainer .imgWrapp, .code .designDetails ul .imagesContainer .imgWrapp {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
/* line 599, ../main_pre.scss */
.design .codeDetails ul .imagesContainer .imgWrapp.def, .design .designDetails ul .imagesContainer .imgWrapp.def, .code .codeDetails ul .imagesContainer .imgWrapp.def, .code .designDetails ul .imagesContainer .imgWrapp.def {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
/* line 602, ../main_pre.scss */
.design .codeDetails ul .asTable, .design .designDetails ul .asTable, .code .codeDetails ul .asTable, .code .designDetails ul .asTable {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
  max-width: 245px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
/* line 611, ../main_pre.scss */
.design .codeDetails ul .asTable aside, .design .designDetails ul .asTable aside, .code .codeDetails ul .asTable aside, .code .designDetails ul .asTable aside {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}
/* line 616, ../main_pre.scss */
.design .codeDetails ul .asTable .imagesContainer, .design .designDetails ul .asTable .imagesContainer, .code .codeDetails ul .asTable .imagesContainer, .code .designDetails ul .asTable .imagesContainer {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  margin-top: 0;
}
/* line 623, ../main_pre.scss */
.design .codeDetails ul .asTable h3, .design .designDetails ul .asTable h3, .code .codeDetails ul .asTable h3, .code .designDetails ul .asTable h3 {
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-top: 0px;
  font-weight: 700;
  display: block;
  position: absolute;
  font-size: 19em;
  top: -65px;
  opacity: 0;
  pointer-events: none;
  text-shadow: 0px 3px 0px #020202;
  text-align: center;
  width: 100%;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}
/* line 643, ../main_pre.scss */
.design article.def .article-h2, .design article.def .code-shield, .design article.def .design-shield, .code article.def .article-h2, .code article.def .code-shield, .code article.def .design-shield {
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -o-transform: translateY(100px);
  transform: translateY(100px);
  opacity: 0;
}
/* line 647, ../main_pre.scss */
.design article.def .hr, .code article.def .hr {
  width: 0;
}
/* line 651, ../main_pre.scss */
.design article, .code article {
  background-image: url(../images/articlesBg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-weight: 300;
  font-size: 22px;
  line-height: 44px;
  color: #111111;
  padding: 50px;
  width: 50%;
  height: inherit;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
/* line 666, ../main_pre.scss */
.design article .article-span, .design article .code-shield, .code article .article-span, .code article .code-shield {
  text-align: left;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  max-width: 70%;
  margin: 80px auto;
}
/* line 672, ../main_pre.scss */
.design article .code-shield #code-shield, .code article .code-shield #code-shield {
  display: block;
  max-height: 100%;
}
/* line 676, ../main_pre.scss */
.design article span, .code article span {
  display: block;
}
/* line 680, ../main_pre.scss */
.design h2, .code h2 {
  -webkit-transition: all 0.8s ease-out;
  -moz-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0 auto 30px auto;
  font-size: 45px;
}
/* line 686, ../main_pre.scss */
.design h2 span, .code h2 span {
  background-image: url(../images/zigzag.svg);
  display: block;
  width: 100%;
  height: 23px;
}

/* line 694, ../main_pre.scss */
.outer.active:before {
  opacity: 0;
}

/* line 697, ../main_pre.scss */
.outer {
  display: table;
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  z-index: -1;
}
/* line 705, ../main_pre.scss */
.outer:before {
  content: '';
  display: block;
  width: inherit;
  height: inherit;
  min-height: inherit;
  position: fixed;
  background: #eee;
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  pointer-events: none;
  z-index: 10;
}
/* line 718, ../main_pre.scss */
.outer .middle {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}
/* line 722, ../main_pre.scss */
.outer .middle .inner {
  position: relative;
  margin: auto;
  width: 80%;
  max-width: 400px;
}
/* line 728, ../main_pre.scss */
.outer .middle #Layer_1 {
  width: 70%;
  height: auto;
}
/* line 731, ../main_pre.scss */
.outer .middle #Layer_1 * {
  stroke-width: 2;
}

/* line 737, ../main_pre.scss */
#instafeed {
  overflow: hidden;
  position: relative;
  width: 100%;
}
/* line 741, ../main_pre.scss */
#instafeed .svg-container {
  padding: 0;
  margin: auto;
  max-height: 120px;
}
/* line 745, ../main_pre.scss */
#instafeed .svg-container svg {
  display: block;
  max-width: 130px;
  margin: auto;
}
/* line 751, ../main_pre.scss */
#instafeed footer {
  margin: auto;
}
/* line 753, ../main_pre.scss */
#instafeed footer nav {
  padding: 20px 0;
  text-align: right;
}
/* line 757, ../main_pre.scss */
#instafeed footer .line {
  height: 15px;
  display: inline-block;
  background: #111111;
  width: 35%;
  float: left;
}
/* line 764, ../main_pre.scss */
#instafeed footer .mailtoMe {
  display: block;
  background: #111111;
  height: 60px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 60px;
}
/* line 774, ../main_pre.scss */
#instafeed .instaImagesBg {
  position: absolute;
  height: 100%;
}
/* line 777, ../main_pre.scss */
#instafeed .instaImagesBg:after {
  content: '';
  display: block;
  background-image: -webkit-gradient(linear, to bottom, to top, color-stop(0%, rgba(250, 250, 250, 0)), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(to bottom, rgba(250, 250, 250, 0), #ffffff);
  background-image: -moz-linear-gradient(to bottom, rgba(250, 250, 250, 0), #ffffff);
  background-image: -o-linear-gradient(to bottom, rgba(250, 250, 250, 0), #ffffff);
  background-image: linear-gradient(to bottom, rgba(250, 250, 250, 0), #ffffff);
  width: 100%;
  height: inherit;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 788, ../main_pre.scss */
#instafeed article {
  margin: auto;
  line-height: 23px;
}
/* line 793, ../main_pre.scss */
#instafeed article .images-show {
  display: block;
  background: transparent;
  box-shadow: 0px 0px 0px 2px #111111;
  text-align: center;
  padding: 6px;
  text-decoration: none;
  text-transform: uppercase;
  color: #111111;
  margin: 20px auto;
  width: 60%;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
/* line 807, ../main_pre.scss */
#instafeed article .images-show:after {
  content: '\2192 ';
  display: block;
  position: absolute;
  right: 3px;
  top: 0;
  width: 30px;
  height: 100%;
  border-radius: 0 20px 20px 0;
  line-height: 32px;
}
/* line 820, ../main_pre.scss */
#instafeed a.instaLink {
  opacity: 0.1;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
/* line 823, ../main_pre.scss */
#instafeed a.instaLink img {
  width: calc(100% / 6 );
  padding: 0;
  margin: 0 0px -4px 0;
}

/* line 233, ../css-pre/main.scss */
/* line 832, ../main_pre.scss */
#instafeed a:hover {
  opacity: 1;
}
