/* apply a natural box layout model to all elements, but allowing components to change */
/* line 8, ../main_pre.scss */
html {
  box-sizing: border-box;
  font-family: 'Lato',"helvetica neue", arial, helvetica, "lucida grande", sans-serif;
  color: #111;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 16, ../main_pre.scss */
html *, *:before, *:after {
  box-sizing: inherit;
}

/* line 19, ../main_pre.scss */
body {
  margin: 0;
  padding: 0;
  background: #eee;
}

/* line 25, ../main_pre.scss */
.time {
  font-weight: 400;
}

/* line 28, ../main_pre.scss */
.comingSoon {
  font-family: 'Lato', sans-serif;
  color: #111;
  font-size: 18px;
  font-weight: 300;
  padding: 25px;
  max-width: 400px;
  margin: auto;
}
/* line 36, ../main_pre.scss */
.comingSoon a {
  color: #111;
}

/* line 40, ../main_pre.scss */
.behance {
  width: 70px;
}

/* line 43, ../main_pre.scss */
.github {
  width: 50px;
}

/* line 46, ../main_pre.scss */
.behance, .github {
  display: inline-block;
  margin: 0 10px;
  max-height: 18px;
}
/* line 50, ../main_pre.scss */
.behance svg, .github svg {
  height: 100%;
  display: block;
}

@keyframes heartBeat {
  /* line 56, ../main_pre.scss */
  0% {
    -webkit-transform: rotate(-45deg) scale(0.5);
    -moz-transform: rotate(-45deg) scale(0.5);
    -ms-transform: rotate(-45deg) scale(0.5);
    -o-transform: rotate(-45deg) scale(0.5);
    transform: rotate(-45deg) scale(0.5);
  }

  /* line 59, ../main_pre.scss */
  100% {
    -webkit-transform: rotate(-45deg) scale(0.6);
    -moz-transform: rotate(-45deg) scale(0.6);
    -ms-transform: rotate(-45deg) scale(0.6);
    -o-transform: rotate(-45deg) scale(0.6);
    transform: rotate(-45deg) scale(0.6);
  }
}

@keyframes shake {
  /* line 64, ../main_pre.scss */
  0% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  /* line 67, ../main_pre.scss */
  25% {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  /* line 70, ../main_pre.scss */
  50% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  /* line 73, ../main_pre.scss */
  75% {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  /* line 76, ../main_pre.scss */
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

/* line 80, ../main_pre.scss */
#was {
  -webkit-transform-origin: center 50%;
  -moz-transform-origin: center 50%;
  -ms-transform-origin: center 50%;
  -o-transform-origin: center 50%;
  transform-origin: center 50%;
}

/* line 83, ../main_pre.scss */
.inner.active #was {
  animation-delay: 0.3s;
  animation-duration: 0.6s;
  animation-name: shake;
  animation-iteration-count: 1;
  animation-direction: alternate;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}

/* line 93, ../main_pre.scss */
.heart {
  background-color: #111111;
  display: block;
  height: 26px;
  margin: 0 10px;
  position: absolute;
  -webkit-transform: rotate(-45deg) scale(0.6);
  -moz-transform: rotate(-45deg) scale(0.6);
  -ms-transform: rotate(-45deg) scale(0.6);
  -o-transform: rotate(-45deg) scale(0.6);
  transform: rotate(-45deg) scale(0.6);
  width: 26px;
  left: 50%;
  margin-left: -13px;
  bottom: 30px;
  opacity: 0.2;
  cursor: pointer;
  animation-duration: 0.7s;
  animation-name: heartBeat;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

/* line 119, ../main_pre.scss */
.heart:before,
.heart:after {
  content: "";
  background-color: #111111;
  border-radius: 50%;
  height: 26px;
  position: absolute;
  width: 26px;
}

/* line 127, ../main_pre.scss */
.heart:before {
  top: -13px;
  left: 0;
}

/* line 131, ../main_pre.scss */
.heart:after {
  left: 13px;
  top: 0;
}

/* line 136, ../main_pre.scss */
.stop1, .stop2 {
  -webkit-transition: background 0.3s linear;
  -moz-transition: background 0.3s linear;
  -o-transition: background 0.3s linear;
  transition: background 0.3s linear;
}

/* line 139, ../main_pre.scss */
.hr {
  display: block;
  width: 14%;
  height: 6px;
  border-radius: 12px;
  margin: 40px auto;
  background: #111;
}

/* line 148, ../main_pre.scss */
.code article {
  float: left;
}
/* line 150, ../main_pre.scss */
.code article h2 {
  max-width: 137px;
}
/* line 154, ../main_pre.scss */
.code .codeDetails {
  float: right;
}
/* line 156, ../main_pre.scss */
.code .codeDetails:after {
  content: '';
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid transparent;
  border-right: 40px solid #cecece;
  display: block;
  position: absolute;
  left: -80px;
  top: 50%;
  margin-top: -40px;
}
/* line 170, ../main_pre.scss */
.code .codeDetails .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: radial-gradient(circle 300px, rgba(255, 255, 255, 0.9), #cecece);
}
/* line 176, ../main_pre.scss */
.code .codeDetails .tinyNav {
  position: absolute;
  right: 5px;
  width: 25px;
  height: 125px;
  top: 50%;
  margin-top: -62.5px;
}
/* line 183, ../main_pre.scss */
.code .codeDetails .tinyNav .tinyButton.active {
  opacity: 1;
}
/* line 186, ../main_pre.scss */
.code .codeDetails .tinyNav .tinyButton:hover {
  opacity: 1;
}
/* line 189, ../main_pre.scss */
.code .codeDetails .tinyNav .tinyButton {
  background: #111;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  display: block;
  margin: 7px 3px;
  opacity: 0.3;
  cursor: pointer;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
/* line 201, ../main_pre.scss */
.code .codeDetails ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/* line 208, ../main_pre.scss */
.code .codeDetails ul .asTable {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
  max-width: 236px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 217, ../main_pre.scss */
.code .codeDetails ul .asTable .imagesContainer {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}
/* line 222, ../main_pre.scss */
.code .codeDetails ul .asTable h3 {
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-top: 50px;
}
/* line 227, ../main_pre.scss */
.code .codeDetails ul .asTable .imagesContainer .imgWrapp {
  display: inline-block;
  position: relative;
}
/* line 231, ../main_pre.scss */
.code .codeDetails ul .asTable .imagesContainer .imgWrapp::before {
  content: attr(data-title);
  position: absolute;
  width: 100%;
  text-transform: uppercase;
  height: 26px;
  top: -20px;
  z-index: 1;
  line-height: 26px;
  opacity: 0;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  pointer-events: none;
  border-radius: 4px;
}
/* line 246, ../main_pre.scss */
.code .codeDetails ul .asTable .imagesContainer .imgWrapp::after {
  content: '';
  position: absolute;
  left: 50%;
  right: 50%;
  top: -10px;
  height: 10px;
  width: 10px;
  margin-left: -5px;
  transform: rotate(45deg);
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 273, ../main_pre.scss */
.code .codeDetails ul .asTable .imgWrapp:hover .devIcon {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* line 277, ../main_pre.scss */
.code .codeDetails ul .asTable .imgWrapp:hover:before, .code .codeDetails ul .asTable .imgWrapp:focus:before, .code .codeDetails ul .asTable .imgWrapp:active:before {
  opacity: 1;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
/* line 281, ../main_pre.scss */
.code .codeDetails ul .asTable .imgWrapp:hover:after, .code .codeDetails ul .asTable .imgWrapp:focus:after, .code .codeDetails ul .asTable .imgWrapp:active:after {
  opacity: 1;
  top: -1px;
}
/* line 291, ../main_pre.scss */
.code .codeDetails .devIcon {
  width: 85px;
  margin: 15px;
  cursor: pointer;
  opacity: 0.6;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 303, ../main_pre.scss */
.design article {
  float: right;
}
/* line 305, ../main_pre.scss */
.design article h2 {
  max-width: 185px;
}
/* line 309, ../main_pre.scss */
.design .designDetails {
  float: left;
}
/* line 311, ../main_pre.scss */
.design .designDetails:after {
  content: '';
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid #cecece;
  border-right: 40px solid transparent;
  display: block;
  position: absolute;
  right: -80px;
  top: 50%;
  margin-top: -40px;
}

/* line 327, ../main_pre.scss */
.design, .code {
  display: block;
}
/* line 329, ../main_pre.scss */
.design .codeDetails, .design .designDetails, .code .codeDetails, .code .designDetails {
  position: relative;
  background-color: #cecece;
  width: 50%;
  height: inherit;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: inherit;
}
/* line 339, ../main_pre.scss */
.design article, .code article {
  background-image: url(../images/adobe_stock.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-weight: 200;
  font-size: 30px;
  color: #111;
  padding: 50px;
  width: 50%;
  height: inherit;
  min-height: inherit;
  overflow-y: scroll;
  display: block;
}
/* line 355, ../main_pre.scss */
.design h2, .code h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0 auto 30px auto;
  font-size: 45px;
}
/* line 360, ../main_pre.scss */
.design h2 span, .code h2 span {
  background-image: url(../images/zigzag.svg);
  display: block;
  width: 100%;
  height: 23px;
}

/* line 368, ../main_pre.scss */
.outer.active:before {
  opacity: 0;
}

/* line 371, ../main_pre.scss */
.outer {
  display: table;
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  z-index: -1;
}
/* line 379, ../main_pre.scss */
.outer:before {
  content: '';
  display: block;
  width: inherit;
  height: inherit;
  min-height: inherit;
  position: absolute;
  background: #eee;
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  pointer-events: none;
  z-index: 10;
}
/* line 392, ../main_pre.scss */
.outer .middle {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}
/* line 396, ../main_pre.scss */
.outer .middle .inner {
  position: relative;
  margin: auto;
  width: 80%;
  max-width: 400px;
}
/* line 402, ../main_pre.scss */
.outer .middle #Layer_1 {
  width: 70%;
  height: auto;
}
/* line 405, ../main_pre.scss */
.outer .middle #Layer_1 * {
  stroke-width: 2;
}

/* line 412, ../main_pre.scss */
#instafeed a img {
  padding: 0;
  margin: 0 0px -3px 0;
  opacity: 1;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}

/* line 233, ../css-pre/main.scss */
/* line 430, ../main_pre.scss */
#instafeed a img:hover {
  opacity: 1;
}
